*{
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.342);
}
html{
    display: grid;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
}
h1 h3{
    margin-left: 10px;
}
.text{
    background: linear-gradient(135deg, #bed8ff, #21a9af);
    background-color: #172a74;
    width: 50vw;
    height: 100vh;
    padding: 0;
}
.text-box{
    padding-top: 20px;
    padding-left: 15px;
    line-height: 30px;
}
.display{
    background:cornsilk;
    width: 50vw;
    max-height: 100vh;
}
canvas {
    display: fixed;
}
